﻿
@{
    ViewBag.Title = "Credit Cards";
}


<h2>Your Credit Cards</h2>

<div class="container">
    <form class="form-horizontal">
        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="card-holder">Card Holder</label>
                <div class="col-md-6">
                    <input id="card-holder" name="card-holder" type="text" placeholder="John Smith" class="form-control input-md">
                    <span class="help-block">The name as it appears on the card</span>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="card-number">Card number</label>
                <div class="col-md-6">
                    <input id="card-number" type="text" class="form-control" autocomplete="off" required>    
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="expiry-date">Expiry Date</label>
                <div class="col-md-2">
                    <select class="form-control">
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                        <option>June</option>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                        <option>November</option>
                        <option>December</option>
                    </select>
                </div>
               
                <div class="col-md-2">
                    <select class="form-control">
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                        <option>2020</option>
                        <option>2021</option>
                        <option>2022</option>
                        <option>2023</option>
                        <option>2024</option>
                        <option>2025</option>
                        <option>2026</option>
                        <option>2027</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="col-md-2 control-label" for="cvv">CVV</label>
                    <div class="col-md-4">
                        <input id="cvv" type="text" placeholder="000" class="form-control input-md" required="">
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div class="form-group">
                <a href="/Manager/Cards" type="button" class="btn btn-danger">Cancel</a>
                <input type="reset" class="btn btn-warning" value="Reset" />
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <input type="submit" class="btn btn-success pull-right" value="Confirm" />
            </div>
        </div>


    </form>

</div>