﻿
@{
    ViewBag.Title = "Account Manager";
}

<style>
    .col-md-4 {
        padding: 10px 15px;
    }
</style>

<h2>Account Manager</h2>
<div class="container">
    <div class="panel-group">
        <div class="col-md-4">
            <a href="/Address" style="text-decoration:none">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-home pull-left"></span>&ensp;Your Addresses
                    </div>
                    <div class="panel-body">Edit the shipping address for your orders</div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/Cards" style="text-decoration:none">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-credit-card pull-left"></span>&ensp;Your Credit cards
                    </div>
                    <div class="panel-body">Add or edit payment methods</div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/Security" style="text-decoration:none">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-lock pull-left"></span>&ensp;Sign in and Security
                    </div>
                    <div class="panel-body">Edit password, name, email and phone number</div>
                </div>
            </a>
        </div>
    </div>

</div>
   



