﻿
@{
    ViewBag.Title = "Security";
}


<h2>Account Secuity</h2>

<div class="container">
    <div class="row">
        <h4>Change Password</h4>
        <form class="form-horizontal">
            <fieldset>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="old-pw">Old Password</label>
                    <div class="col-md-6">
                        <input id="old-pw" type="password" placeholder="" class="form-control input-md">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="new-pw1">New Password</label>
                    <div class="col-md-6">
                        <input id="new-pw1" type="password" placeholder="" class="form-control input-md">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="new-pw-2">Repeat Password</label>
                    <div class="col-md-6">
                        <input id="new-pw-2" type="password" placeholder="" class="form-control input-md">
                    </div>
                </div>
            </fieldset>
            <div class="col-md-7"></div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="reset" class="btn btn-warning" value="Reset" />
                    <input type="submit" class="btn btn-success pull-right" value="Confirm" />
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <h4>Change email</h4>
    </div>
</div>
    
