﻿@model IEnumerable<Medicus.ShippingAddress>

@{
    ViewBag.Title = "Shipping Addresses";
}

<h3>Your Shipping Addresses</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZIP)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZIP)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm", role = "button" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm", role = "button" })
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info btn-sm", role = "button" })
@*@Html.ActionLink("Back to Shopping Cart", null, "ShoppingCart", null, new { @class = "btn btn-info btn-sm", role = "button" })*@
<a href="@Url.Action("Index","ShoppingCart")" class="btn btn-primary btn-sm">Go to Shopping Cart <span class="glyphicon glyphicon-shopping-cart"></span></a>