﻿@model Medicus.Models.MedicineViewModel

@{
    ViewBag.Icon = "fa fa-medkit";
}

@section Menu {
    @Scripts.Render("~/Scripts/Medicines/menu")
}

<div class="row">
    <div class="col-md-8">
            <div class="box box-primary col-md-8">
                <h3 class="text-center">Are you sure you want to delete this?</h3>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Drug)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Drug)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CategoryString)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CategoryString)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ShortInfo)
                    </dt>

                    <dd class="text-justify">
                        @Html.DisplayFor(model => model.ShortInfo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Indication)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Indication)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Manufacturer)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Manufacturer)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PriceString)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PriceString)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.InStockQty)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.InStockQty)
                    </dd>
                </dl>
                <div class="text-center">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <a href="@Url.Action("Index", "Medicines")" class="btn btn-primary">Back to list</a>
                        </div>
                    }
                </div>
                <br />
            </div>
        </div>

    </div>