﻿@model Medicus.Models.MedicineViewModel
@using System.ComponentModel.DataAnnotations;

@{
    ViewBag.Icon = "fa fa-medkit";
}

@section Menu {
    @Scripts.Render("~/Scripts/Medicines/menu")
}

<div class="row">
    <div class="col-md-8">
        <div class="box box-primary col-md-8">
            <!--creating some vertical space-->
            <br />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Drug)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Drug)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CategoryString)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CategoryString)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ShortInfo)
                </dt>

                <dd class="text-justify">
                    @Html.DisplayFor(model => model.ShortInfo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Indication)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Indication)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Manufacturer)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Manufacturer)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PriceString)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PriceString)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.InStockQty)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.InStockQty)
                </dd>
            </dl>
            <div class="text-center">
                <a href="@Url.Action("Edit", "Medicines", new { id = Model.Id })" class="btn btn-warning">Edit</a>
                <a href="@Url.Action("Delete", "Medicines", new { id = Model.Id })" class="btn btn-danger">Delete...</a>
                <a href="@Url.Action("Index", "Medicines")" class="btn btn-primary">Back to list</a>
            </div>
            <br />
        </div>
    </div>
</div>


