﻿@model Medicus.Models.MedicineViewModel

@{
    ViewBag.Icon = "fa fa-medkit";
    var controllerName = Request.RequestContext.RouteData.Values["controller"].ToString();
}

@section Menu {
    @Scripts.Render("~/Scripts/Medicines/menu")
}

@Styles.Render("~/bundles/plugins/bootstrap-table/css")

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body table-responsive">
                <div class="toolbar">
                    <a href="@Url.Content("~/Admin/Medicines/Create")" class="btn btn-primary" role="button">Create New...</a>
                </div>
                <table id="bs-table"
                       data-toggle="table"
                       data-url="@Url.Content("/Admin/Medicines/List")"
                       data-method="post"
                       data-content-type="application/x-www-form-urlencoded"
                       data-striped="true"
                       data-show-columns="true"
                       data-pagination="true"
                       data-side-pagination="client"
                       data-pagination-loop="true"
                       data-show-refresh="true"
                       data-search="true"
                       data-resizable="true"
                       data-show-toggle="true"
                       data-toolbar=".toolbar"
                       data-show-export="true"
                       data-page-size="20"
                       data-controller="@controllerName">                       
                    <thead>
                        <tr>
                            <th data-field="@nameof(Model.Name)" data-sortable="true">@Html.DisplayNameFor(model => model.Name)</th>
                            <th data-field="@nameof(Model.Drug)" data-sortable="true">@Html.DisplayNameFor(model => model.Drug)</th>
                            <th data-field="@nameof(Model.CategoryString)" data-sortable="true">@Html.DisplayNameFor(model => model.CategoryString)</th>
                            <th data-field="@nameof(Model.Manufacturer)" data-sortable="true">@Html.DisplayNameFor(model => model.Manufacturer)</th>
                            <th data-field="@nameof(Model.Indication)" data-sortable="true">@Html.DisplayNameFor(model => model.Indication)</th>
                            <th data-field="@nameof(Model.ShortInfoString)" data-sortable="true" data-width="25%">@Html.DisplayNameFor(model => model.ShortInfoString)</th>
                            <th data-field="@nameof(Model.PriceString)" data-sortable="true" data-width="8%">@Html.DisplayNameFor(model => model.PriceString)</th>
                            <th data-field="@nameof(Model.InStockQty)" data-sortable="true" data-width="8%">@Html.DisplayNameFor(model => model.InStockQty)</th>
                            <th data-field="action" data-align="center" data-formatter="actionFormatter" data-width="7%" data-events="actionEvents">Edit</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/plugins/bootstrap-table/js");
}