﻿body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    background-color: #bdbcbc
}

.login-box {
    margin-top: 7%;
}

.register-box {
    margin: 7%;
}

.icheck > label {
    padding-left: 0;
}
