﻿@model Medicus.Models.OrderViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="box box-primary col-md-12">
        <div>
            <h4>Order #@Model.Id</h4>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FullfilledDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FullfilledDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedOn)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TotalPrice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>
            </dl>
            <hr />
            <div>
                <h4>Order items</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Manufacturer</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (OrderItem item in Model.OrderItems)
            {
                            <tr>
                                <td>@item.Medicine.Name</td>
                                <td>@item.Medicine.Manufacturer</td>
                                <td>@item.Quantity</td>
                                <td>€ @item.Medicine.Price</td>
                                <td>€ @item.SubTotal</td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>Total: </th>
                            <td>@Model.TotalPrice</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</body>
</html>
