﻿@model Medicus.Models.OrderViewModel

@{
    ViewBag.Icon = "fa fa-shopping-cart";
    var controllerName = Request.RequestContext.RouteData.Values["controller"].ToString();
}

@Styles.Render("~/bundles/plugins/bootstrap-table/css")

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body table-responsive">
                <div class="toolbar">
                    <a href="@Url.Action("~/Admin/Orders/Create")" class="btn btn-primary" role="button">Create New...</a>
                </div>
                <table id="bs-table"
                       data-toggle="table"
                       data-url="@Url.Content("/Admin/Orders/List")"
                       data-method="post"
                       data-content-type="application/x-www-form-urlencoded"
                       data-striped="true"
                       data-show-columns="true"
                       data-pagination="true"
                       data-side-pagination="client"
                       data-pagination-loop="true"
                       data-show-refresh="true"
                       data-search="true"
                       data-resizable="true"
                       data-show-toggle="true"
                       data-toolbar=".toolbar"
                       data-show-export="true"
                       data-page-size="20"
                       data-controller="@controllerName">    
                    <thead>
                        <tr>
                            <th data-field="@nameof(Model.Id)" data-sortable="true" data-width="5%">@Html.DisplayNameFor(model => model.Id)</th>
                            <th data-field="@nameof(Model.CustomerName)" data-sortable="true" data-width="12%">@Html.DisplayNameFor(model => model.CustomerName)</th>
                            <th data-field="@nameof(Model.Address)" data-sortable="true" data-width="30%">@Html.DisplayNameFor(model => model.Address)</th>
                            <th data-field="@nameof(Model.CreatedOn)" data-sortable="true" data-width="15%">@Html.DisplayNameFor(model => model.CreatedOn)</th>
                            <th data-field="@nameof(Model.FullfilledDate)" data-sortable="true"  data-width="15%">@Html.DisplayNameFor(model => model.FullfilledDate)</th>      
                            <th data-field="@nameof(Model.Status)" data-sortable="true">@Html.DisplayNameFor(model => model.Status)</th>
                            <th data-field="@nameof(Model.TotalPrice)" data-sortable="true">@Html.DisplayNameFor(model => model.TotalPrice)</th>
                            <th data-field="action" data-align="center" data-formatter="orderActionFormatter" data-width="6%" data-events="actionEvents">Edit</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/plugins/bootstrap-table/js");
}