﻿@model Medicus.Models.OrderViewModel
@{
    ViewBag.Title = "Order Details";
}

@Styles.Render("~/Styles/shopping-order-status.css");

<div>
    <h2 class="pull-left">Order #@Model.Id </h2>
    <a href="@Url.Action("Index", "Order")" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-backward"></span>&ensp;Back to your Orders
    </a>
</div>
<div class="row shop-tracking-status">
    <div class="col-md-12">
        <div class="well">
            <h4>Order items</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Manufacturer</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (OrderItem item in Model.OrderItems)
            {
                        <tr>
                            <td>@item.Medicine.Name</td>
                            <td>@item.Medicine.Manufacturer</td>
                            <td>@item.Quantity</td>
                            <td>€ @item.Medicine.Price</td>
                            <td>€ @item.SubTotal</td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th>Total: </th>
                        <td>@Model.TotalPrice</td>
                    </tr>
                </tbody>
            </table>

            <hr />

            <h4>Your order status:</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="prefix">Date created:</span>
                    <span>@Model.CreatedOn</span>
                </li>
                <li class="list-group-item">
                    <span class="prefix">Last update:</span>
                    <span>@Model.LastModified</span>
                </li>
                <li class="list-group-item">
                    <span class="prefix">Review:</span>
                    <span>Customer's review</span>
                </li>
            </ul>
            <div class="order-status">
                <div class="order-status-timeline">
                    <!-- class names: c0 c1 c2 c3 and c4 -->
                    <div id="progress-bar" class="order-status-timeline-completion"></div>
                </div>
                <div class="image-order-status image-order-status-new active img-circle">
                    <span class="status">Received</span>
                    <div class="icon"></div>
                </div>
                <div class="image-order-status image-order-status-active active img-circle">
                    <span class="status">Submitted</span>
                    <div class="icon"></div>
                </div>
                <div class="image-order-status image-order-status-intransit active img-circle">
                    <span class="status">Shipped</span>
                    <div class="icon"></div>
                </div>
                <div class="image-order-status image-order-status-delivered active img-circle">
                    <span class="status">Delivered</span>
                    <div class="icon"></div>
                </div>
                <div class="image-order-status image-order-status-completed active img-circle">
                    <span class="status">Completed</span>
                    <div class="icon"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/plugins/jquery/js")

<script>
    var status = '@Model.Status';
    var classname = "c0";
    if (status == "Received")  classname = "c0";
    if (status == "Submitted") classname = "c1";
    if (status == "Shipped") classname = "c2";
    if (status == "Delivered") classname = "c3";
    if (status == "Completed") classname = "c4";
    $("#progress-bar").addClass(classname);
</script>