﻿@model IEnumerable<Medicus.Models.OrderViewModel>
@{
    ViewBag.Title = "Your Orders";
}

@Styles.Render("~/Styles/shopping-order-status.css");

<h2>Your Orders</h2>
<hr />
<div>

    @using (Html.BeginForm("Index", "Order", FormMethod.Get))
    {
        <div class="form-horizontal">
            <div class="form-group">
                <label for="inputOrderTrackingID" class="col-sm-2 control-label">Search order</label>
                <div class="col-md-8 col-sm-10">
                    @Html.TextBox("SearchString", null, new { @class = "form-control", placeholder = "Your Order Id here" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="shopGetOrderStatusID" class="btn btn-primary">Get Details</button>
                </div>
            </div>
        </div>      
    }
    
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
                @*@Html.DisplayNameFor(model => model.Id)*@
            </th>
            <th>
                Address
                @*@Html.DisplayNameFor(model => model.Address)*@
            </th>
            <th>
                Status
                @*@Html.DisplayNameFor(model => model.Status)*@
            </th>
            <th>
                Created On
                @*@Html.DisplayNameFor(model => model.CreatedOn)*@
            </th>
            <th>
                Total Price
                @*@Html.DisplayNameFor(model => model.TotalPrice)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Address.St), @Html.DisplayFor(modelItem => item.Address.City)
                    @Html.DisplayFor(modelItem => item.Address.ZIP), @Html.DisplayFor(modelItem => item.Address.State)*@
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    <a href="@Url.Action("Details", "Order", new { OrderId = item.Id })" class="btn btn-primary">Details</a>
                </td>
            </tr>
        }
    </tbody>

    
</table>

<hr />
