﻿@model Medicus.Models.LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Log in";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Medicus</title>
    <link rel="icon" href="@Url.Content("~/content/images/favicon.png")" />

    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/plugins/font-awesome/css")
    @Styles.Render("~/bundles/plugins/ionicons/css")
    @Styles.Render("~/Styles/Login/Login.css")
    @Styles.Render("~/bundles/plugins/icheck/css/sqare/blue")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 login-box">
                <div class="row">
                    <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/content/images/brand-name.png")" class="img-responsive" alt="" /></a>
                    <div>&nbsp;</div>
                </div>
                <div class="row">
                    <div class="well">
                            <p class="text-center">Sign in to start your session</p>
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group has-feedback">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", type = "password", placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-8">
                                        <div class="checkbox icheck">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                    </div>
                                    <div class="col-xs-4 text">
                                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                                    </div>
                                </div>
                                <div>&nbsp;</div>
                                <div class="text-center">
                                    <a href="@Url.Action("Register", "Account")">Register as a new user</a> or <a href="#">reset password</a>
                                </div>
                            }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/plugins/jquery/js")
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/plugins/icheck/js")
    @Scripts.Render("~/bundles/plugins/jquery-validate/js")
    @Scripts.Render("~/Scripts/Account/Login")

</body>
</html>
