﻿@model Medicus.Models.RegisterViewModel
@{
    Layout = null;
    ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Medicus</title>
    <link rel="icon" href="@Url.Content("~/content/images/favicon.png")" />

    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/plugins/font-awesome/css")
    @Styles.Render("~/bundles/plugins/ionicons/css")
    <link href="@Url.Content("~/Styles/Login/Login.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/bundles/plugins/icheck/css/sqare/blue")
    @*@Styles.Render("~/Styles/Login/PasswordStrengthMeter.css")*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 login-box">
                <div class="row">
                    <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/content/images/brand-name.png")" class="img-responsive" alt="" /></a>
                    <div>&nbsp;</div>
                </div>
                <div class="row">
                    <div class="well">
                        <p class="text-center">Register a new membership</p>
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group has-feedback">
                                @Html.TextBoxFor(m => m.NameIdentifier, new { @class = "form-control", placeholder = "User name" })
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            </div>

                            <div class="form-group has-feedback">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "Password", placeholder = "Password" })
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <div class="form-group">
                                <div id="pw-val-container">
                                    <div id="pw-val-progress"></div>
                                    <div id="pw-val-verdict"></div>
                                    <div id="pw-val-errors"></div>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                            </div>

                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="checkbox icheck">
                                        <label>
                                            <input type="checkbox"> I agree to the <a href="#">terms</a>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                                </div>
                            </div>
                            <div>&nbsp;</div>
                        }
                        <div class="text-center">
                            <a href="@Url.Action("Login", "Account")" class="text-center">I already have a membership</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/plugins/jquery/js")
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/plugins/icheck/js")
    @Scripts.Render("~/AdminLTE/plugins/jquery-validate/js")
    @Scripts.Render("~/Scripts/Account/Login")
    @Scripts.Render("~/Scripts/Account/PasswordStrengthMeter.js")

</body>
</html>