﻿@model Medicus.CreditCard
@{
    ViewBag.Title = "Delete Card";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Delete Credit Card</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CardNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CardNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ExpireMonth)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ExpireMonth)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ExpireYear)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ExpireYear)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "List")
            </div>
        }
    </div>
</body>
</html>
