﻿@model Medicus.CreditCard
@{
    ViewBag.Title = "Card Details";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Credit Card Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CardNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CardNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ExpireMonth)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ExpireMonth)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ExpireYear)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ExpireYear)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastModified)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastModified)
            </dd>    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "List")
    </p>
</body>
</html>
