﻿@model IEnumerable<Medicus.ViewModels.CreditCardShowViewModel>

@{
    ViewBag.Title = "Credit Cards";
}

<h3>Your Credit Cards</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpireMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpireYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpireMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpireYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm", role = "button" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm", role = "button" })
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info btn-sm", role = "button" })
@*@Html.ActionLink("Back to Shopping Cart", null, "ShoppingCart", null, new { @class = "btn btn-info btn-sm", role = "button" })*@
<a href="@Url.Action("Index","ShoppingCart")" class="btn btn-primary btn-sm">Go to Shopping Cart <span class="glyphicon glyphicon-shopping-cart"></span></a>