﻿@model IEnumerable<Medicus.CreditCard>
@{
    ViewBag.Title = "Credit Card";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <h2>Your Credit Cards</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpireMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpireYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>

            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpireMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpireYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>

    <a href="/ShoppingCart" class="btn btn-primary">
        Go to Shopping Cart &ensp;
        <span class="glyphicon glyphicon-shopping-cart pull-right"></span>
    </a>
</body>
</html>
