﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Medicus</title>
    <link rel="icon" href="@Url.Content("~/content/images/favicon.png")" />
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/Styles/Home/Index.css")
    @Scripts.Render("~/bundles/modernizr/js")
    @RenderSection("Styles", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #001c31;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" rel="home" href="@Url.Action("Index", "Home", new { area = "" })" title="The drug store">
                    <img src="@Url.Content("~/content/images/brand-name.png")"> 
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="top-menu">
                        <a href="@Url.Action("Index", "Medicines")">Medicines</a>
                    </li>
                    <li class="top-menu">
                        <a href="@Url.Action("About", "Home")">Info</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Contact", "Home")">Contact</a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <p>&copy; @DateTime.Now.Year | MVC Application by WTM | Medicus .NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/plugins/jquery/js")
    @Scripts.Render("~/bundles/plugins/jquery-validate/js")
    @Scripts.Render("~/bundles/bootstrap/js")
    @RenderSection("scripts", required: false)

    </body>
</html>

