﻿@using Microsoft.AspNet.Identity
@using Medicus.Extensions
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li id="cart-summary">@{Html.RenderAction("Summary", "ShoppingCart");}</li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">Hello @User.Identity.GetUserNameIdentifier() <span class="glyphicon glyphicon-user"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="">Account manager&nbsp;<i class="fa fa-cogs pull-right" aria-hidden="true"></i></a>
                        <ul style="list-style: none">
                            <li>
                                <a href="@Url.Action("", "Address")">Addresses</a>
                            </li>
                            <li>
                                <a href="@Url.Action("", "CreditCards")">Credit Cards</a>
                            </li>
                            <li>
                                <a href="@Url.Action("", "Security")">Security</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Order")">Orders&nbsp;<span class="glyphicon glyphicon-shopping-cart pull-right"></span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Review")">Reviews&nbsp;<span class="glyphicon glyphicon-shopping-cart pull-right"></span></a>
                    </li>
                    <li><a href="#">Lists</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    Logout &nbsp;
                    <span class="glyphicon glyphicon-log-out pull-right"></span>
                </a>
            </li>
        </ul>

                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li id="cart-summary">@{Html.RenderAction("Summary", "ShoppingCart");}</li>
                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                }
