﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Medicus</h1>
    <p class="lead">
        Medicus is a <u>fictional</u> online drug store. The purpose of this web site is not to sell drugs and medicines, it's
        simply the web project of an universitary course on Information Security. Therefore all functionalities shall be
        considered as purely virtual, while the goal is simply making this website as secure as possible.
    </p>
    <p><a href="http://www.inf.unibz.it/~shelmer/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div id="products-carousel" class="carousel slide content" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#products-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#products-carousel" data-slide-to="1"></li>
        <li data-target="#products-carousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides --> <div class="carousel-inner">
        <div class="item active">
            <div class="row">
                <div class="col-xs-12">
                    <div class="thumbnail adjust1">
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <img class="media-object img-rounded img-responsive" src="http://placehold.it/100">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <div class="caption">
                                <p class="text-info lead adjust2">I can't wait to test this out.</p> <p><span class="glyphicon glyphicon-thumbs-up"></span> This is a testimonial window. Feedback of user can be displayed here.</p>
                                <blockquote class="adjust2"> <p>Abhijit Goswami</p> <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> www.example1.com</cite></small> </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <div class="item">
            <div class="row">
                <div class="col-xs-12">
                    <div class="thumbnail adjust1">
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <img class="media-object img-rounded img-responsive" src="http://placehold.it/100">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <div class="caption">
                                <p class="text-info lead adjust2">I can't wait to test this out.</p>
                                <p><span class="glyphicon glyphicon-thumbs-up"></span> This is a testimonial window. Feedback of user can be displayed here.</p>
                                <blockquote class="adjust2">
                                    <p>Abhijit Goswami</p> <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> www.example2.com</cite></small>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <div class="item">
            <div class="row">
                <div class="col-xs-12">
                    <div class="thumbnail adjust1">
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <img class="media-object img-rounded img-responsive" src="http://placehold.it/100">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <div class="caption">
                                <p class="text-info lead adjust2">I can't wait to test this out.</p>
                                <p><span class="glyphicon glyphicon-thumbs-up"></span> This is a testimonial window. Feedback of user can be displayed here.</p>
                                <blockquote class="adjust2"> <p>Abhijit Goswami</p> <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> www.example3.com</cite></small> </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- Controls -->
    <a class="left carousel-control" href="#products-carousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#products-carousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Asclepius</h2>
        <p class="text-justify">
            Asclepius was a hero and god of medicine in ancient Greek religion and mythology. Asclepius represents the healing aspect of the medical arts;
            his daughters are Hygieia ("Hygiene", the goddess/personification of health, cleanliness, and sanitation), Iaso (the goddess of recuperation from illness),
            Aceso (the goddess of the healing process), ...
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Asclepius">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hippocrates</h2>
        <p class="text-justify">
            Hippocrates of Kos, also known as Hippocrates II, was a Greek physician of the Age of Pericles (Classical Greece), and is considered one of the most
            outstanding figures in the history of medicine. He is referred to as the "Father of Modern Medicine" in recognition of his lasting contributions to the
            field as the founder of the Hippocratic School of Medicine. This intellectual school revolutionized medicine in ancient Greece, ...
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Hippocrates">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Paracelsus</h2>
        <p class="text-justify">
            Paracelsus, born Philippus Aureolus Theophrastus Bombastus von Hohenheim, was a Swiss German philosopher, physician, botanist, astrologer, and general
            occultist. He is credited as the founder of toxicology. He is also a famous revolutionary for utilizing observations of nature, rather than referring
            to ancient texts, ...
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Paracelsus">Learn more &raquo;</a></p>
    </div>
</div>

<h2>Account Manager</h2>
<div class="row">
    <div class="panel-group">
        <div class="col-md-4">
            <a href="/Address" style="text-decoration:none">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-home pull-left"></span>&ensp;Your Addresses
                    </div>
                    <div class="panel-body">Edit the shipping address for your orders</div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/Cards" style="text-decoration:none">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-credit-card pull-left"></span>&ensp;Your Credit cards
                    </div>
                    <div class="panel-body">Add or edit payment methods</div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/Security" style="text-decoration:none">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-lock pull-left"></span>&ensp;Sign in and Security
                    </div>
                    <div class="panel-body">Edit password, name, email and phone number</div>
                </div>
            </a>
        </div>
    </div>
</div>