﻿@model Medicus.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

@Styles.Render("~/Styles/Elements/ShoppingCart.css")


@if (Model.CartItemCount > 0)
{
    <div class="container">
        <div class="row">
            
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <h3>Shopping Cart</h3>
                <div class="alert alert-info fade out collapse" id="update-message">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <span id="msg-text"></span>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="min-width: 250px">Product</th>
                            <th class="text-center" style="min-width: 110px">Remove / Add</th>
                            <th>Quantity</th>
                            <th class="text-center">Unit Price</th>
                            <th class="text-center">Total</th>
                            <th>Remove Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CartItems)
                        {
                            <tr id="row-@item.Id">
                                <td class="col-sm-6 col-md-4">
                                    <div class="media">
                                        <a class="thumbnail pull-left" href="#">
                                            <img src="@Url.Content("~/Content/Images/pills.jpg")"
                                                 class="img-responsive" style="width: 72px; height: 72px;">
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                @Html.ActionLink(item.Medicine.Name, "Details", "Medicines", new { id = item.Medicine.Id }, null)
                                            </h4>
                                            <h5 class="media-heading"> by @Html.ActionLink(item.Medicine.Manufacturer, "Index", "Medicines", new { searchString = item.Medicine.Manufacturer }, null)</h5>
                                            <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="col-sm-3 col-md-2" style="text-align: center">
                                    <button type="button" data-id="@item.Id" class="btn btn-danger remove-link">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                    <button type="button" data-id="@item.Id" class="btn btn-success add-link">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>

                                </td>
                                <td class="col-sm-1 col-md-1" style="text-align: center" id="item-count-@item.Id">
                                    @item.Count
                                </td>

                                <td class="col-sm-1 col-md-1 text-center"><strong>&euro; @item.Medicine.Price</strong></td>
                                <td class="col-sm-1 col-md-1 text-center"><strong id="sub-total-@item.Id">&euro; @Model.SubTotal(@item)</strong></td>
                                <td class="col-sm-1 col-md-1">
                                    <button type="button" data-id="@item.Id" class="btn btn-danger remove-item-link">
                                        <span class="glyphicon glyphicon-remove"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h5>Subtotal</h5></td>
                            <td class="text-right"><h5><strong class="cart-total">&euro; @Model.CartTotal</strong></h5></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h5>Estimated shipping</h5></td>
                            <td class="text-right"><h5><strong>&euro; 0.00</strong></h5></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h3>Total</h3></td>
                            <td class="text-right"><h3><strong class="cart-total">&euro; @Model.CartTotal</strong></h3></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>
                                <a href="@Url.Action("Index", "Medicines")" class="btn btn-default">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("AddressAndPayment", "Checkout")" class="btn btn-success">Checkout <span class="glyphicon glyphicon-play"></span></a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="text-center">
            <h1 class="text-muted">No items in shopping cart</h1>
            <br />
        </div>
    </div>
}

@Scripts.Render("~/bundles/plugins/jquery/js")
@Scripts.Render("~/Scripts/ShoppingCart/ShoppingCart.js")


