﻿@model Medicus.Models.UserViewModel

@{
    ViewBag.Icon = "fa fa-users";
}

@section Menu {
    @Scripts.Render("~/Scripts/Users/menu")
}

<div class="row">
    <div class="col-md-8">
        <div class="box box-primary col-md-8">
            <!--creating some vertical space-->
            <br />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.NameIdentifier)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NameIdentifier)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EmailConfirmedString)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmailConfirmedString)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumberConfirmedString)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumberConfirmedString)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TwoFactorEnabledString)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TwoFactorEnabledString)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LockOutEndDateUtc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LockOutEndDateUtc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LockoutEnabledString)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LockoutEnabledString)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AccessFailedCount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AccessFailedCount)
                </dd>
            </dl>
            <div class="text-center">
                <a href="@Url.Action("Edit", "Users", new { id = Model.Id })" class="btn btn-warning">Edit</a>
                <a href="@Url.Action("Delete", "Users", new { id = Model.Id })" class="btn btn-danger">Delete...</a>
                <a href="@Url.Action("Index", "Users")" class="btn btn-primary">Back to list</a>
            </div>
            <br />
        </div>
    </div>
</div>

@*<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameIdentifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameIdentifier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockOutEndDateUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockOutEndDateUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>
    </dl>
</div>*@
