﻿@model Medicus.Models.UserViewModel

@{
    ViewBag.Icon = "fa fa-users";
    var controllerName = Request.RequestContext.RouteData.Values["controller"].ToString();
}

@section Menu {
    @Scripts.Render("~/Scripts/Users/menu")
}


@Styles.Render("~/bundles/plugins/bootstrap-table/css")

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body table-responsive">
                <div class="toolbar">
                    <a href="@Url.Content("~/Admin/Users/Create")" class="btn btn-primary" role="button">Create New...</a>
                </div>
                <table id="bs-table"
                       data-toggle="table"
                       data-url="@Url.Content("/Admin/Users/List")"
                       data-method="post"
                       data-content-type="application/x-www-form-urlencoded"
                       data-striped="true"
                       data-show-columns="true"
                       data-pagination="true"
                       data-side-pagination="client"
                       data-pagination-loop="true"
                       data-show-refresh="true"
                       data-search="true"
                       data-resizable="true"
                       data-show-toggle="true"
                       data-toolbar=".toolbar"
                       data-show-export="true"
                       data-page-size="20"
                       data-controller="@controllerName"> 
                    <thead>
                        <tr>
                            <th data-field="@nameof(Model.NameIdentifier)" data-sortable="true">@Html.DisplayNameFor(model => model.NameIdentifier)</th>
                            <th data-field="@nameof(Model.Email)" data-sortable="true">@Html.DisplayNameFor(model => model.Email)</th>
                            <th data-field="@nameof(Model.EmailConfirmed)" data-sortable="true" data-formatter="boolFormatter">@Html.DisplayNameFor(model => model.EmailConfirmed)</th>
                            <th data-field="@nameof(Model.PhoneNumber)" data-sortable="true">@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                            <th data-field="@nameof(Model.Roles)" data-sortable="true">@Html.DisplayNameFor(model => model.Roles)</th>
                            <th data-field="@nameof(Model.PhoneNumberConfirmed)" data-sortable="true" data-formatter="boolFormatter">@Html.DisplayNameFor(model => model.PhoneNumberConfirmed)</th>
                            <th data-field="@nameof(Model.TwoFactorEnabled)" data-sortable="true" data-formatter="boolFormatter">@Html.DisplayNameFor(model => model.TwoFactorEnabled)</th>
                            <th data-field="@nameof(Model.AccessFailedCount)" data-sortable="true">@Html.DisplayNameFor(model => model.AccessFailedCount)</th>
                            <th data-field="@nameof(Model.LockoutEnabled)" data-sortable="true" data-formatter="boolFormatter">@Html.DisplayNameFor(model => model.LockoutEnabled)</th>
                            <th data-field="@nameof(Model.LockOutEndDateUtc)" data-sortable="true">@Html.DisplayNameFor(model => model.LockOutEndDateUtc)</th>
                            <th data-field="action" data-align="center" data-formatter="actionFormatter" data-width="5%" data-events="actionEvents">Edit</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/plugins/bootstrap-table/js");
}