﻿
@{
    ViewBag.Icon = "fa fa-edit";
    var controllerName = Request.RequestContext.RouteData.Values["controller"].ToString();
}

@Styles.Render("~/bundles/plugins/bootstrap-table/css")

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/plugins/bootstrap-table/js");
}
