﻿@model Medicus.Medicine

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-md-12">
        <h2>Details</h2>
    </div>
</div><!-- end row -->
<div class="row">
   <!-- <div class="col-md-12">
        <h2>@ViewBag.Title </h2>
    </div>-->
    <div class="col-md-6 col-sm-5">
        <img src="@Url.Content("~/Content/Images/pills.jpg")"
             alt=@Html.DisplayFor(model => model.Name)
             class="img-responsive" />
    </div>
    <div class="col-md-6 col-sm-7">
        <div class="row">
            <div class="col-md-12">
                <h1>@Html.DisplayFor(model => model.Name)</h1>
            </div>
        </div><!-- end row-->
        <div class="row">
            <div class="col-md-12">
                <span class="label label-primary" style="font-size: 14px">Vintage</span>
                <span class="monospaced">No. 1960140180</span>
            </div>
        </div><!-- end row -->
        <p></p>
        <div class="row">
            <div class="col-md-12">
                <p class="description text-justify">
                    @Html.DisplayFor(model => model.ShortInfo)
                </p>
            </div>
        </div><!-- end row -->
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <span class="sr-only">Four out of Five Stars</span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="label label-info" style="font-size: 14px">61</span>
            </div>
            <div class="col-md-6 col-sm-6">
                <span class="label label-success pull-right" style="font-size: 18px">In Stock</span>
                @*<span class="monospaced">Write a Review</span>*@
            </div>
        </div><!-- end row -->
        <div class="row">
            <div class="col-md-12 bottom-rule">
                <h2 class="product-price">&euro; @Html.DisplayFor(model => model.Price)</h2> 
            </div>
        </div><!-- end row -->
        <hr />
        <div class="row">
            @*<p></p>
                <div class="row">
                    <div class="col-md-6">
                        <a href="@Url.Action("Details","Medicines", new { id = item.Id })" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-info-sign"></span> See more</a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="btn btn-warning btn-block"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</a>
                    </div>
                </div>
                <p></p>*@
            @*<div class="col-md-6">
                <div class="btn-group">
                    <span class="btn btn-default btn-md">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </span>
                    <input class="btn btn-default btn-md col-xs-4" value="1" />
                    <span class="btn btn-default btn-md">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </span>
                </div>
            </div>*@
            <div class="col-md-1 col-sm-0 col-xm-1"></div>
            <div class="center col-md-4 col-sm-5 col-xs-5">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>
                    <input type="number" id="quantity" name="quantity" class="form-control input-number" value="1" readonly>
                    <span class="input-group-btn">
                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2" style="padding-top: 5px; padding-left: 0">
                <span id="reset-count" class="btn btn-xs btn-default">Reset</span>
            </div>
            <div class="col-md-4 col-sm-5 col-xs-4 text-center">
                @*<a href="@Url.Action("AddToCart","ShoppingCart", new { id = Model.Id, qnt = 2 })" class="btn btn-warning btn-block">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
                </a>*@
                <a id="add-to-cart" data-id="@Html.DisplayFor(model => model.Id)" class="btn btn-warning btn-block">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
                </a>
            </div>
        </div>
        <hr />
        <div class="row">
            
            @*<div class="col-md-4 col-md-offset-1 text-center">
                <a class="monospaced" href="#">Add to Shopping List</a>
            </div>*@
        </div><!-- end row -->
        <div class="row">
            <div class="col-md-12">
                <p>To order by telephone, <a href="tel:18005551212">please call 1-800-555-1212</a></p>
            </div>
        </div><!-- end row -->
    </div>
</div><!-- end row -->

@Scripts.Render("~/bundles/plugins/jquery/js")
@Scripts.Render("~/Scripts/Medicines/PlusMinusInput.js")
@Scripts.Render("~/Scripts/ShoppingCart/ShoppingCart.js")


<div class="help-block"></div>
<div class="row">
    <div class="col-md-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#description"
                   aria-controls="description"
                   role="tab"
                   data-toggle="tab">Description</a>
            </li>
            <li role="presentation">
                <a href="#features"
                   aria-controls="features"
                   role="tab"
                   data-toggle="tab">Features</a>
            </li>
            <li role="presentation">
                <a href="#notes"
                   aria-controls="notes"
                   role="tab"
                   data-toggle="tab">Notes</a>
            </li>
            <li role="presentation">
                <a href="#reviews"
                   aria-controls="reviews"
                   role="tab"
                   data-toggle="tab">Reviews</a>
            </li>
        </ul>
        <div class="panel-body">
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="description">
                    <p class="top-10">
                        1 The 'Brownie' Flash B is a box camera taking 2&frac14; × 3&frac14;" frames on 620 film, made of sheet metal by Kodak Ltd. in England, 1958-60.
                        A more luxurious version of the Brownie Six-20 Model F, it has a two-speed shutter (1/80, 1/40 +B), a close-focus (5-10ft) lens, a yellow filter and flash sync. The Flash B is very similar to the Brownie Flash IV, adding a two-speed shutter but lacking a tripod bush.
                    </p>
                    <p>
                        <small>
                            (source <a href="http://camerapedia.wikia.com/wiki/Kodak_Brownie_Flash_B">http://camerapedia.wikia.com/wiki/Kodak_Brownie_Flash_B</a>)
                        </small>
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane top-10" id="features">
                    <p class="top-10">
                        2 The 'Brownie' Flash B is a box camera taking 2&frac14; × 3&frac14;" frames on 620 film, made of sheet metal by Kodak Ltd. in England, 1958-60.
                        A more luxurious version of the Brownie Six-20 Model F, it has a two-speed shutter (1/80, 1/40 +B), a close-focus (5-10ft) lens, a yellow filter and flash sync. The Flash B is very similar to the Brownie Flash IV, adding a two-speed shutter but lacking a tripod bush.
                    </p>
                    <p>
                        <small>
                            (source <a href="http://camerapedia.wikia.com/wiki/Kodak_Brownie_Flash_B">http://camerapedia.wikia.com/wiki/Kodak_Brownie_Flash_B</a>)
                        </small>
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane" id="notes">
                    <p class="top-10">
                        3 The 'Brownie' Flash B is a box camera taking 2&frac14; × 3&frac14;" frames on 620 film, made of sheet metal by Kodak Ltd. in England, 1958-60.
                        A more luxurious version of the Brownie Six-20 Model F, it has a two-speed shutter (1/80, 1/40 +B), a close-focus (5-10ft) lens, a yellow filter and flash sync. The Flash B is very similar to the Brownie Flash IV, adding a two-speed shutter but lacking a tripod bush.
                    </p>
                    <p>
                        <small>
                            (source <a href="http://camerapedia.wikia.com/wiki/Kodak_Brownie_Flash_B">http://camerapedia.wikia.com/wiki/Kodak_Brownie_Flash_B</a>)
                        </small>
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane" id="reviews">
                    <p class="top-10">
                        4 The 'Brownie' Flash B is a box camera taking 2&frac14; × 3&frac14;" frames on 620 film, made of sheet metal by Kodak Ltd. in England, 1958-60.
                        A more luxurious version of the Brownie Six-20 Model F, it has a two-speed shutter (1/80, 1/40 +B), a close-focus (5-10ft) lens, a yellow filter and flash sync. The Flash B is very similar to the Brownie Flash IV, adding a two-speed shutter but lacking a tripod bush.
                    </p>
                    <p>
                        <small>
                            (source <a href="http://camerapedia.wikia.com/wiki/Kodak_Brownie_Flash_B">http://camerapedia.wikia.com/wiki/Kodak_Brownie_Flash_B</a>)
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div><!-- end row -->
