﻿@using PagedList.Mvc;
@model PagedList.IPagedList<Medicus.Medicine>


@{
    ViewBag.Title = "Medicines";
}

<!-- this is the search/filter bar-->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @using (Html.BeginForm("Index", "Medicines", FormMethod.Get))
            {
            <div class="input-group input-group-lg">
                <div class="input-group-btn search-panel">
                    @BootstrapHtml.DropdownButton("filter-button", new Category(), "Filter by")
                </div>
                <input type="hidden" name="filtercategory" value="all" id="filter-category">
                @Html.TextBox("SearchString", null, new { @class = "form-control", placeholder = "Search" })
                <span class="input-group-btn">
                    <a href="@Url.Action("Index", "Medicines")" class="btn btn-info"><span class="glyphicon glyphicon-repeat"></span></a>
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        }
    </div>
</div>

@if (Model.PageCount > 0)
{
    <div class="row">
        <!-- adding some vertical space -->
        <div class="form-group">
            &nbsp;
        </div>
        <div class="col-md-12">
            @foreach (var item in Model)
            {
            <div class="col-sm-4 col-md-4">
                <div class="thumbnail">
                    <h4 class="text-center"><span class="label label-info">@Html.DisplayFor(modelItem => item.Drug)</span></h4>
                    <a href="@Url.Action("Details", "Medicines", new { Id = item.Id })"><img src="@Url.Content("~/Content/Images/pills.jpg")" class="img-responsive"></a>
                    <div class="caption">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                                <p>
                                    <small>
                                        @Html.DisplayFor(modelItem => item.Manufacturer)
                                    </small>
                                </p>
                            </div>
                            <div class="col-md-6 col-xs-6 price">
                                <h3 class="text-center">
                                    <label>&euro; @Html.DisplayFor(modelItem => item.Price)</label>
                                </h3>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="@Url.Action("Details", "Medicines", new { Id = item.Id })" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-info-sign"></span> See more</a>
                            </div>
                            <div class="col-md-6">
                                <a href="@Url.Action("AddToCart","ShoppingCart", new { id = item.Id, qnt = 1 })" class="btn btn-warning btn-block"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</a>
                            </div>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="text-center">
            <h1 class="text-muted">No Medicines found</h1>
            <br />
        </div>
    </div>
}
@if (Model.PageCount > 1)
{
    <div class="row">
        <div class="col-md-12 text-center">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/Medicines/index.js")"></script>
}