﻿.body-content {
    margin-top: 80px;
}

.content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.table > tbody > tr > td {
    vertical-align: middle
}

.navbar-brand > img {
    height: 150%;
    width: auto;
    margin-top: -5px;
}

.adjust1 {
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.adjust2 {
    margin: 0;
}

.carousel-indicators li {
    border: 2px solid #ed7c3b;
}

.carousel-indicators .active {
    background: #ed7c3b;
}


.carousel-control {
    color: #31708f;
    width: 5%;
}

    .carousel-control:hover, .carousel-control:focus {
        color: #31708f;
    }

    .carousel-control.left, .carousel-control.right {
        background-image: none;
    }

.media-object {
    margin: auto;
    margin-top: 15%;
}

@media screen and (max-width: 768px) {
    .media-object {
        margin-top: 0;
    }
}
