﻿@model Medicus.ViewModels.OrderConfirmViewModel

<h5>Choose a Credit Card</h5>
<ul style="list-style: none">
    @{
        var firstCard = Model.CreditCards.First();
        int id = firstCard.Id;
        foreach (var card in Model.CreditCards)
        { //Check only the first radio-button
            <li>
                @if (id == card.Id)
                {
                    @Html.RadioButtonFor(model => model.CreditCards, card.Id, new { @checked = true })
                }
                else
                {
                    @Html.RadioButtonFor(model => model.CreditCards, card.Id)
                }
                @Html.Label("Credit Cards", card.FirstName + " " + card.LastName + ", "
                                + card.CardNumber + ", Expires on: " + card.ExpireMonth + " / " + card.ExpireYear)
            </li>
        }
    }
</ul>