﻿@model Medicus.ViewModels.OrderConfirmViewModel

<div>
    <h5>Choose a Shipping Address</h5>
    <ul style="list-style: none">
        @{

            int first = Model.ShippingAddresses.First().Id;
            foreach (var add in Model.ShippingAddresses)
            { //Check only the first radio-button
                <li>
                    @if (first == add.Id)
                    {
                        @Html.RadioButtonFor(model => model.ShippingAddresses, add.Id, new { @checked = true })
                    }
                    else
                    {
                        @Html.RadioButtonFor(model => model.ShippingAddresses, add.Id)
                    }
                    @Html.Label("Shipping Address", add.Street + " " + add.City + ", " + add.ZIP + ", " + add.State)
                </li>
            }

        }
    </ul>
</div>