﻿@model Medicus.ViewModels.OrderConfirmViewModel
@{
    ViewBag.Title = "Address And Payment";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <h2>Address and Payment</h2>

    <fieldset>
        <div>
            <h3><span class="label label-primary">1. Shipping Address</span></h3>
            <div>
                @if (Model.AtLeastOneAddress)
                {
                    @Html.Partial("_ListAddresses")
                }
                else
                {
                    <h5>You do not have any shipping address stored. Please add one to complete your order.</h5>
                }
                <a href="/Address/Create" class="btn btn-default"> <span class="glyphicon glyphicon-home"></span>&ensp;Add Shipping Address </a>
            </div>
        </div>
        <hr />
        <div>
            <h3><span class="label label-primary">2. Payment Method </span></h3>
            <div>
                @if (Model.AtLeastOneCard)
                {
                    @Html.Partial("_ListCards")
                }
                else
                {
                    <h5>You do not have any method of payment stored. Please add a credit card to complete your order.</h5>
                }
                <a href="/CreditCards/Create" class="btn btn-default"> <span class="glyphicon glyphicon-credit-card"></span>&ensp;Add Credit Card </a>
            </div>
        </div>
        <hr />
        <div>
            @if (Model.AtLeastOneCard && Model.AtLeastOneAddress)
            {
                <h3><span class="label label-primary">3. Order Review</span> </h3>
                <div class="col-md-8 col-sm-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{

                                foreach (var item in Model.ShoppingCart.CartItems)
                                {
                                    <tr>
                                        <td>
                                            <large><a href="/Medicines/Details/@item.Medicine.Id">@item.Medicine.Name</a></large>
                                            <small>&emsp;by <a href="#">@item.Medicine.Manufacturer</a></small>
                                        </td>
                                        <td>@item.Count</td>
                                        <td>€ @item.Medicine.Price</td>
                                        <td>€ @Model.ShoppingCart.SubTotal(@item)</td>
                                    </tr>
                                }
                            }
                            <tr>
                                <td>   </td>
                                <td>   </td>
                                <td><h5>Subtotal</h5></td>
                                <td class="text-right"><h5><strong class="cart-total">&euro; @Model.ShoppingCart.CartTotal</strong></h5></td>
                            </tr>
                            <tr>
                                <td>   </td>
                                <td>   </td>
                                <td><h5>Estimated shipping</h5></td>
                                <td class="text-right"><h5><strong>€ 0.00</strong></h5></td>
                            </tr>
                            <tr>
                                <td>   </td>
                                <td>   </td>
                                <td><h3>Total</h3></td>
                                <td class="text-right"><h3><strong class="cart-total">&euro; @Model.ShoppingCart.CartTotal</strong></h3></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                                }
        </div>
    </fieldset>
    if (Model.AtLeastOneCard && Model.AtLeastOneAddress)
    {
        <hr />
        <div>
            <a href="@Url.Action("", "ShoppingCart")" class="btn btn-warning"><span class="glyphicon glyphicon-backward"></span>&ensp;Back to Cart</a>
            <button type="submit" class="btn btn-success">Confirm&ensp;<span class="glyphicon glyphicon-ok"></span></button>
        </div>
    }
}