﻿@model int
@{
    ViewBag.Title = "Order Complete";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Complete</title>
</head>
<body>
    <div>
        <h2>Thank you, your order has been placed.</h2>
        <hr />
        <h3><strong>Order Number: @Model</strong></h3>

        <div style="font-size: 18px">
            An email confirmation has been sent to you. You can now track your order from
            <a href="/Order" style="text-decoration: none"><span class="label label-primary">Your Medicus > Orders</span></a>
        </div>
    </div>
    <p>
       
        
    </p>
</body>
</html>
